/* Global Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #f2f2f2;
  min-height: 100vh;
  display: block;
  margin: 0;
}

.login-wrapper {
  padding-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}

.navi {
  width: 100%;
  display: flex;
  margin: auto;
  padding: 1rem 3rem;
  align-items: center;
  justify-content: space-between;
}

.nav-auth {
  gap: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navi img {
  width: 30px;
  height: 30px;
  margin-top: 1rem;
  border-radius: 100%;
}
.user-info {
  margin-top: 1rem;
  margin-right: 1rem;
}
.menu {
  display: flex;
  height: 3.5rem;
  align-items: flex-end;
  justify-content: space-between;
}
.menu li a {
  margin: 0px 4px;
  font-size: 18px;
  color: #696969;
  padding: 5px 10px;
  position: relative;
}
.menu li a::after {
  width: 0%;
  left: 50%;
  content: '';
  height: 3px;
  bottom: 0px;
  position: absolute;
  border-radius: 2px;
  transition: all ease 0.3s;
  background-color: #3647df;
  transform: translateX(-50%);
}
.menu li a:hover::after,
.menu li a.active::after {
  width: 30%;
}
.menu li a:hover,
menu li a.active {
  color: #333333;
}

.logo {
  font-size: 2rem;
  color: #333333;
  font-weight: 700;
}
.logo i {
  color: #3647df;
}
.book-btn {
  color: #202020;
  background: linear-gradient(48deg, rgb(174, 181, 254) 0%, rgb(215, 214, 255) 93%);
  font-weight: 600;
  width: 150px;
  height: 45px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  border-radius: 5px;
  transition: all ease 0.3s;
}
.book-btn:hover {
  transform: scale(1.05);
}

.member-login {
  width: 100%;
  justify-content: center;
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.2rem;
}
::selection {
  background: #4158d0;
  color: #fff;
}
.wrapper {
  height: 30rem;
  width: 380px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
}
.wrapper.course {
  height: 32rem;
  width: 1200px;
}
.wrapper.user {
  height: 24rem;
  width: 800px;
}
.wrapper-content {
  width: 100%;
  display: flex;
  gap: 2rem;
}
.wrapper-content.field {
  width: 100%;
}

.wrapper-col {
  width: 50%;
}

.add-course-wrapper {
  margin-top: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
}
.submit-btn {
  margin-top: 3rem;
}
.title-cell {
  max-width: 15rem;
}
.wrapper.signup {
  height: 42rem;
  width: 480px;
}
.wrapper.login {
  height: 30rem;
  width: 480px;
}
.wrapper .title {
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  line-height: 100px;
  color: #fff;
  user-select: none;
  border-radius: 15px 15px 0 0;
  background: linear-gradient(-135deg, #c850c0, #4158d0);
}
.wrapper form {
  padding: 10px 30px 50px 30px;
}
.wrapper form .field {
  height: 50px;
  width: 100%;
  margin-top: 20px;
  position: relative;
}
.wrapper textarea .field {
  height: 50px;
  width: 100%;
  margin-top: 20px;
  position: relative;
}
.wrapper form .field.signup {
  margin-top: 3rem;
}
.wrapper form .field input {
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 17px;
  padding-left: 20px;
  border: 1px solid lightgrey;
  border-radius: 25px;
  transition: all 0.3s ease;
}
.wrapper form .field textarea {
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 17px;
  padding-left: 20px;
  border: 1px solid lightgrey;
  border-radius: 25px;
  transition: all 0.3s ease;
}
.wrapper form .field input:focus,
form .field input:valid {
  border-color: #4158d0;
}
.wrapper form .field textarea:focus,
form .field textarea:valid {
  border-color: #4158d0;
}
.wrapper form .field label {
  position: absolute;
  top: 50%;
  left: 20px;
  color: #999999;
  font-weight: 400;
  font-size: 17px;
  pointer-events: none;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}
form .field input:focus ~ label,
form .field textarea:focus ~ label,
form .field input:valid ~ label,
form .field textarea:valid ~ label {
  top: 0%;
  font-size: 16px;
  color: #4158d0;
  background: #fff;
  transform: translateY(-50%);
}
form {
  font-size: 16px;
}
form a {
  margin: 0;
  text-align: center;
}
form .checkbox {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-left: 0.5rem;
}

.checkbox input {
  cursor: pointer;
}

form input {
  width: 15px;
  height: 15px;
  background: red;
}
form label {
  color: #262626;
  user-select: none;
  width: 5.8rem;
  height: 20px;
  padding-left: 5px;
  text-wrap: nowrap;
  padding-top: 0.5rem;
}
form .pass-link {
  color: '';
  margin-bottom: 1rem;
  margin-top: 1rem;
}
form .field input[type='submit'],
form .field textarea[type='submit'] {
  color: #fff;
  border: none;
  padding-left: 0;
  margin-top: -10px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  background: linear-gradient(-135deg, #c850c0, #4158d0);
  transition: all 0.3s ease;
}
form .field input[type='submit']:active,
form .field textarea[type='submit']:active {
  transform: scale(0.95);
}
form .signup-link {
  color: #262626;
  margin-top: 20px;
  text-align: center;
}
form .pass-link a,
form .signup-link a {
  color: #4158d0;
  text-decoration: none;
}
form .pass-link a:hover,
form .signup-link a:hover {
  text-decoration: underline;
}

.app-title-wrapper {
  color: white;
  margin-right: 2rem;
  margin-left: 2.5rem;
}

.no-courses-wrapper {
  color: #333333;
  margin-left: 2rem;
}

.content {
  padding: 60px 20px;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 83vh;
}

.logout-button button {
  background: #f44336;
  font-size: 16px;
  min-width: 5rem;
  padding: 0.5rem;
  margin: 0;
}

.admin-wrapper {
  color: #333333;
  display: flex;
  flex-direction: column;
}

.admin-actions-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: 2rem;
}

.home-wrapper {
  margin-top: -2rem;
}

.admin-wrapper button {
  color: white;
  max-width: 15rem;
  background: #ff9800;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-right img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.navbar-right span {
  color: white;
  margin-right: 15px;
}

.admin-links {
  margin-left: 15px;
  color: #ff9800;
}

/* Form Container (Card) */
.form-container {
  overflow: hidden;
  background-color: white;
  padding: 2rem;
  border-radius: 10px; /* Smaller radius */
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1); /* Softer shadow */
  max-width: 400px;
  width: 100%;
  margin: 50px auto; /* Center the form */
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.form-container.add-course-wrapper {
  max-width: 900px;
  text-align: left;
}

.form-container.course-management-wrapper {
  max-width: 1000px;
  text-align: left;
}

.form-container.edit-course-wrapper {
  max-width: 1000px;
  text-align: left;
}

.user-management-wrapper table {
  width: 100%;
}

.user-management-wrapper td {
  margin-top: 1rem;
}

.edit-button {
  background: #ff9800;
  width: 6rem;
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}

.actions-cell a {
  margin-top: 0 !important;
}

.delete-button {
  background: #f44336;
  width: 6rem;
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}

.actions-cell {
  display: flex;
  align-items: center;
  gap: 1rem;
  max-width: 0;
}

.form-container h1 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 1.5rem;
  font-weight: 700;
}

.add-course-button {
  color: white;
  margin-top: 20px;
  display: inline-block;
  margin-left: 2rem;
}
.add-course-button.manage {
  margin-top: -1rem;
  margin-bottom: -1rem;
}

.course-management-button {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.snackbar {
  position: fixed;
  bottom: 0;
  right: 0;
  font-size: 14px;
  transform: translateX(-50%);
  padding: 20px 30px;
  color: white;
  list-style: none;
}
.success {
  border-radius: 1rem;
  padding: 20px 30px;
  background-color: #4caf50;
}
.error {
  border-radius: 1rem;
  padding: 20px 30px;
  background-color: #f44336;
}

.buy-btn {
  z-index: 9;
}

/* Input Fields */
input[type='text'],
input[type='number'],
input[type='password'],
input[type='file'],
textarea,
select {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 8px; /* Smaller radius */
  border: 1px solid #ccc; /* Slight border for inputs */
  background-color: rgba(255, 255, 255, 0.9);
  color: #333;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

input[type='text']:focus,
input[type='number']:focus,
input[type='password']:focus,
textarea:focus,
select:focus {
  background-color: rgba(255, 255, 255, 1);
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* Buttons */
button {
  background-color: #4caf50;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
  width: 100%;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-top: 15px;
}

button:hover {
  background-color: #45a049;
  transform: translateY(-3px);
}

button:active {
  transform: translateY(1px);
}

/* Links */
a {
  color: #5b86e5;
  text-decoration: none;
  display: block;
  margin-top: 15px;
  font-size: 0.9rem;
}

a:hover {
  text-decoration: underline;
}

/* Course Card Styling */
.course-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px 0;
  max-height: calc(100vh - 10rem);
  overflow-x: auto;
  padding: 2rem;
}
.course-cards.home {
  display: flex;
  align-items: center;
  max-height: 100%;
  gap: 20px;
  padding: 20px 0;
  padding: 2rem;
  overflow-x: scroll;
}

.course-card {
  min-width: 22rem;
  max-width: 22rem;
  cursor: pointer;
  background: white; /* Transparent with subtle background */
  border-radius: 15px;
  box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.15); /* Softer shadow */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  backdrop-filter: blur(15px); /* Adds a frosted glass effect */
  position: relative;
  text-align: left;
  overflow: hidden;
  position: relative;
  min-height: 36rem;
}

.course-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.course-card h3 {
  font-size: 1.3rem;
  color: #333;
  margin: 10px 0;
  text-align: left;
  padding: 0 15px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-weight: bold;
}

a {
  text-decoration: none !important;
}

.course-card p {
  color: #333;
  padding: 0 15px;
  font-size: 1rem;
  text-align: left;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-weight: bold;
}

.description {
  margin-bottom: 1rem;
  font-weight: normal !important;
}

.added-by {
  margin-top: 1.5rem;
}

.added-by span {
  font-weight: normal !important;
}

.course-card-action {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 1rem;
  position: absolute;
  bottom: 1rem;
}
.course-card a {
  width: 6rem;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 0.5rem;
  background-color: #1b47a3;
  text-decoration: none !important;
  transition: background-color 0.3s ease;
}
.course-card i {
  font-size: 18px;
  margin-right: 1rem;
  color: #1b47a3;
  width: 1rem;
  text-align: center;
  margin-bottom: 0.5rem;
}

.course-card a:hover {
  background-color: #72dfe6;
}

.course-card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 16px 30px rgba(0, 0, 0, 0.2);
}

.course-card-action {
  font-weight: 500;
  font-size: 20px;
  padding-right: 2rem;
}
.course-card-action strong {
  margin-top: 1rem;
}

.course-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.course-card:hover::before {
  opacity: 1;
}

/* Course Management Table */
.course-management-wrapper table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 2rem;
}

.course-management-wrapper th,
.course-management-wrapper td {
  padding: 10px 15px;
  text-align: left;
}

.course-management-wrapper th {
  background: #4158d0;
  color: white;
}

.course-management-wrapper tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.1);
}

.course-management-wrapper tr:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.edit-button,
.delete-button {
  background-color: #ff9800;
  padding: 10px;
  border: none;
  color: white;
  cursor: pointer;
}

.delete-button {
  background-color: #f44336;
}

.actions-cell {
  display: flex;
  gap: 1rem;
}

/* Custom Scrollbar for WebKit browsers */
::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1); /* Background of the scrollbar track */
  border-radius: 1rem; /* Rounded corners for the track */
}

::-webkit-scrollbar-thumb {
  background: rgb(194, 225, 246); /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners for the thumb */
  border: 2px solid rgba(255, 255, 255, 0.3); /* A slight border around the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(194, 225, 246); /* Darker shade on hover */
}

/* Scrollbar styling for Firefox */
html {
  scrollbar-width: thin; /* Firefox thin scrollbar */
  scrollbar-color: rgb(194, 225, 246) rgba(255, 255, 255, 0.1); /* Thumb and track colors for Firefox */
}

/* For Edge */
@supports (-ms-overflow-style: none) {
  body {
    scrollbar-width: auto;
    scrollbar-color: rgb(194, 225, 246) rgba(255, 255, 255, 0.1);
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.footer {
  width: 100%;
  background-color: #24262b;
  padding: 2rem 5rem;
  align-items: center;
  color: white;
}

.footer p {
  margin-top: 1rem;
  width: 100%;
  text-align: center;
}

.footer-col {
  width: 50%;
  padding: 0 15px;
}

.footer-col h1 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h1::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  height: 2px;
  width: 50px;
  border-radius: 2px;
  background-color: #3647df;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #bbbbbb;
  text-decoration: none;
  font-weight: 300;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

/* Responsive */
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}

a:hover::after,
a.active::after {
  width: 30%;
}

a:hover,
a.active {
  color: #333333;
}

/* main*/
#main {
  max-width: 1200px;
  width: 95%;
  margin: 50px auto;
}

.main-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.main-content.courses {
  margin-top: -4rem;
  flex-direction: column;
}

.about-us-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-top: -4rem;
}

.main-img {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background: linear-gradient(48deg, rgb(174, 181, 254) 0%, rgb(215, 214, 255) 93%);
}

.main-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
.main-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 500px;
  width: 100%;
  margin-top: -4rem;
  margin-bottom: -4rem;
}
.main-text.courses {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 100%;
  width: 100%;
}
.main-text strong {
  color: #333333;
  font-size: 1rem;
  background-color: #ebf1ff;
  height: 40px;
  padding: 0px 20px;
  border-radius: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.main-text strong i {
  margin-right: 5px;
}
.main-text h1 {
  font-size: 3.6rem;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 4.3rem;
  margin: 15px 0px;
  color: #141311;
}
.main-text p {
  color: #696969;
}

.main-text a {
  width: 180px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  color: #1f1f1f;
  border-radius: 10px;
  font-weight: 600;
  background: linear-gradient(48deg, rgb(174, 181, 254) 0%, rgb(215, 214, 255) 93%);
}

.main-text.about strong {
  background: transparent !important;
  margin: 0;
  padding: 0;
}
.main-text.about {
  width: 100%;
  display: contents;
}

.main-text.about strong {
  background: transparent !important;
  margin: 0;
  padding: 0;
}

.team-section {
  margin-top: 2rem;
}

.team-wrapper {
  text-align: center;
  width: 100%;
  display: flex;
  margin-top: 1rem;
  align-items: center;
  justify-content: space-between;
}

.team-item img {
  margin-bottom: 0.5rem;
  margin-top: 2rem;
  width: 13rem;
  height: 13rem;
  border-radius: 60px 60px 198px 187px;
  -webkit-border-radius: 60px 60px 198px 187px;
  -moz-border-radius: 60px 60px 198px 187px;
  background: #edcbff;
  border: 5px solid #ffffff;
}
.team-item h2 {
  margin-bottom: 0.5rem;
}

.main-text.work {
  margin-top: 2rem;
  min-height: 20rem;
  width: 100%;
  display: contents;
}

.workshops-wrapper {
  margin-top: 3rem;
  column-count: 3;
  column-gap: 1rem;
}

.workshops-wrapper img {
  width: 100%;
  break-inside: avoid;
  margin-bottom: 1rem;
  border-radius: 1rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.workshops-wrapper img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Contact Form Specific Styles */
.form-container {
  text-align: left;
  margin-top: 3rem;
  overflow: hidden;
  background-color: white;
  padding: 2rem;
  border-radius: 10px; /* Matches card design */
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
  max-width: 500px;
}

.form-container h1 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 1.5rem;
  font-weight: 700;
}

.form-container .field input,
.form-container .field textarea {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: rgba(255, 255, 255, 0.9);
  color: #333;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.form-container .field input:focus,
.form-container .field textarea:focus {
  background-color: rgba(255, 255, 255, 1);
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.form-container .field input[type='submit'] {
  margin-top: 0.5rem;
  background-color: #4caf50;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  text-align: center;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.form-container .field input[type='submit']:hover {
  background-color: #45a049;
  transform: translateY(-3px);
}
