{% extends 'base.html' %} {% block content %}
<div class="add-course-wrapper">
  <div class="wrapper course">
    <div class="title">Add New Course</div>
    <form action="{{ url_for('admin.add_course') }}" method="POST">
      <div class="wrapper-content">
        <div class="wrapper-col">
          <div class="field">
            <input type="text" id="title" name="title" required />
            <label for="title">Course Title</label>
          </div>

          <div class="field">
            <textarea rows="4" id="description" name="description" required></textarea>
            <label for="description">Description</label>
          </div>

          <div class="field">
            <input type="text" id="image_url" name="image_url" required />
            <label for="image_url">Image URL</label>
          </div>

          <div class="field">
            <input type="text" id="video_url" name="video_url" required />
            <label for="video_url">Video URL</label>
          </div>
        </div>

        <div class="wrapper-col">
          <div class="field">
            <input type="number" id="price" name="price" required />
            <label for="price">Course Price</label>
          </div>

          <div class="field">
            <input type="text" id="languages" name="languages" required />
            <label for="languages">Languages</label>
          </div>

          <div class="field">
            <input type="text" id="category" name="category" required />
            <label for="category">Category</label>
          </div>

          <div class="field">
            <input type="text" id="location" name="location" required />
            <label for="location">Location</label>
          </div>
        </div>
      </div>

      <div class="submit-btn">
        <div class="field">
          <input type="submit" value="Add Course" />
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
