{% extends 'base.html' %} {% block content %}
<div class="admin-wrapper">
  <section id="main">
    <div class="main-content">
      <div class="main-text courses">
        <h1>Admin Panel</h1>
        <p>Controll the whole Mo3eed app.</p>
      </div>
    </div>
  </section>

  <div class="admin-actions-wrapper">
    <a href="{{ url_for('admin.add_course') }}"><button>Add New Course</button></a>
    {% if current_user.is_admin %}
    <a href="{{ url_for('admin.manage_users') }}"><button>Manage Users</button></a>
    {% endif %}

    <a href="{{ url_for('admin.manage_courses') }}"><button>Manage Courses</button></a>
  </div>
</div>
{% endblock %}
