{% extends 'base.html' %} {% block content %}
<div class="courses-wrapper">
  <section id="main">
    <div class="main-content">
      <div class="main-text courses">
        <h1>Explore All Courses</h1>
        <p>Find the best courses to enhance your skills</p>
      </div>
    </div>
  </section>

  {% if courses %}
  <div class="course-cards">
    {% for course in courses %}
    <div class="course-card">
      <img src="{{ course.image_url }}" alt="{{ course.title }}" />
      <h3>{{ course.title }}</h3>
      <p class="description">{{ course.description }}</p>
      <p><i class="fa-solid fa-laptop-code"></i>{{ course.languages }}</p>
      <p><i class="fa-solid fa-building"></i>{{ course.category }}</p>
      <p><i class="fa-solid fa-tags"></i>{{ course.location }}</p>
      <p class="added-by">
        <span>Added By: </span>{{ course.added_by_user.first_name }} {{
        course.added_by_user.last_name }}
      </p>

      <form action="{{ url_for('user.toggle_favorite', course_id=course.id) }}" method="POST">
        <button
          type="submit"
          class="heart-btn {% if course in current_user.favorite_courses %}active{% endif %}">
          <i class="fa-solid fa-heart"></i>
        </button>
      </form>

      <div class="course-card-action">
        <a href="{{ course.video_url }}" class="buy-btn" target="_blank">Buy</a>
        <strong>${{ course.price }}</strong>
      </div>
    </div>
    {% endfor %}
  </div>
  {% else %}
  <p class="no-courses-wrapper">No courses available at the moment. Please check back later!</p>
  {% endif %}
</div>
{% endblock %}
