{% extends 'base.html' %} {% block content %}
<div class="edit-course-wrapper add-course-wrapper">
  <div class="wrapper user">
    <div class="title">Edit User: {{ user.username }}</div>
    <form
      action="{{ url_for('admin.edit_user', user_id=user.id) }}"
      method="POST"
      enctype="multipart/form-data">
      <div class="wrapper-content">
        <div class="wrapper-col">
          <div class="field">
            <input type="text" id="username" name="username" value="{{ user.username }}" required />
            <label for="username">Username</label>
          </div>

          <div class="field">
            <input
              type="text"
              id="first_name"
              name="first_name"
              value="{{ user.first_name }}"
              required />
            <label for="first_name">First Name</label>
          </div>
        </div>

        <div class="wrapper-col">
          <div class="field">
            <input
              type="text"
              id="last_name"
              name="last_name"
              value="{{ user.last_name }}"
              required />
            <label for="last_name">Last Name</label>
          </div>

          <div class="field">
            <input type="file" id="profile_picture" name="profile_picture" accept="image/*" />
            <label for="profile_picture">Profile Picture</label>
          </div>
        </div>
      </div>

      <div class="submit-btn">
        <div class="field">
          <input type="submit" value="Update User" />
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
