{% extends 'base.html' %} {% block content %}
<div class="home-wrapper">
  <section id="main">
    <div class="main-content">
      <div class="main-text">
        <strong><i class="fa-solid fa-terminal"></i> Welcome to Mo3eed </strong>
        <h1>Unlock the Power of Tech—Explore, Innovate, Grow!</h1>
        <p>Enjoy your schedule to learn</p>
        <a href="{{ url_for('main.all_courses') }}">Start learning</a>
      </div>
      <!-- main img -->
      <div class="main-img">
        <img src="{{ url_for('static', filename='images/main.png') }}" alt="" />
      </div>
    </div>
  </section>

  {% if current_user.is_admin or current_user.is_manager %}
  <a href="{{ url_for('admin.add_course') }}" class="add-course-button"
    ><button>Add New Course</button></a
  >
  {% endif %} {% if courses %}
  <div class="course-cards home">
    {% for course in courses %}
    <div class="course-card">
      <img src="{{ course.image_url }}" alt="{{ course.title }}" />
      <h3>{{ course.title }}</h3>
      <p class="description">{{ course.description }}</p>
      <p><i class="fa-solid fa-laptop-code"></i>{{ course.languages }}</p>
      <p><i class="fa-solid fa-building"></i>{{ course.category }}</p>
      <p><i class="fa-solid fa-tags"></i>{{ course.location }}</p>
      <p class="added-by">
        <span>Added By: </span>{{ course.added_by_user.first_name }} {{
        course.added_by_user.last_name }}
      </p>

      <form action="{{ url_for('user.toggle_favorite', course_id=course.id) }}" method="POST">
        <button
          type="submit"
          class="heart-btn {% if course in current_user.favorite_courses %}active{% endif %}">
          <i class="fa-solid fa-heart"></i>
        </button>
      </form>

      <div class="course-card-action">
        <a href="{{ course.video_url }}" class="buy-btn" target="_blank">Buy</a>
        <strong>${{ course.price }}</strong>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endif %}

  <section id="main">
    <div class="main-text work"><h1>Some Of Our Workshops</h1></div>
    <div class="workshops-wrapper">
      <img src="{{ url_for('static', filename='images/workshop1.jpeg') }}" alt="workshop1" />
      <img src="{{ url_for('static', filename='images/workshop2.jpeg') }}" alt="workshop2" />
      <img src="{{ url_for('static', filename='images/workshop5.jpeg') }}" alt="workshop5" />
      <img src="{{ url_for('static', filename='images/workshop3.jpeg') }}" alt="workshop3" />
      <img src="{{ url_for('static', filename='images/workshop4.jpeg') }}" alt="workshop4" />
    </div>
  </section>
</div>
{% endblock %}
